div {
  text-align: center;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.right_body{
  margin-left:auto;
  margin-right:auoto;
}
footer{
  text-align:center;
}
.emailme1{
    border-color:#288BE4;
    background-color:#288BE4;
    border-radius:5px;
   }
.container_sec1{
  margin:auto;
}
.emphasize{
  white-space: nowrap;
  color: #8C001A;
  -webkit-animation: twinkling 7s infinite ease-in-out;
}
@-webkit-keyframes twinkling{
	            0%{
		           opacity:1;
	            }
                4%{
                  color:#FF0000;
                }
                8%{
                  color:#FF4000;
                }
                12%{
                  color:#FF8000;
                }
                16%{
                  color:#FACC2E;
                }
                20%{
                  color:#FFFF00;
                }
                24%{
                  color:#BFFF00;
                }
                28%{
                  color:#40FF00;
                }
	            32%{
		          color:#01DF01;
                }
                36%{
                  color:#01DF74;
                }
                40%{
                  color:#01DFA5;
                }
                44%{
                  color:#01A9DB;
                }
                48%{
                  color:#00BFFF;
                }
                52%{
                  color:#0080FF;
                }
                56%{
                  color:#0040FF;
                }
                60%{
                  color:#0101DF;
                }
                64%{
                  color:#3A01DF;
                }
                68%{
                  color:#3104B4;
                }
                72%{
                  color:#7401DF;
                }
                76%{
                  color:#8904B1;
                }
                80%{
                  color:#A901DB;
                }
                84%{
                  color:#DF01D7;
                }
                88%{
                  color:#FF00FF;
                }
                92%{
                  color:#DF0174;
                }
                96%{
                  color:#FF0040;
                }
                100%{
                  opacity:1;
                }
                }
